<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>pokedex | teams</title>
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/navbar") %>
    <main>
        <h2>TEAMS!</h2>
        <div class="main">
            <% for (const team of teams) { %>
            <article class="card">
                <img src="/images/mini-pokeball.png" alt="">
                <h3><%= team.name %></h3>
                <p><%= team.description %></p>
                <a class="button" href="/teams/<%= team.id %>">Details</a>
            </article>
            <% } %>
        </div>

    </main>
    <%- include("partials/footer") %>
</body>
</html>