<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>pokedex | types</title>
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/navbar") %>
    <main>
        <h2>TYPES!</h2>
        <div class="main">
            <% for (const type of types) { %>
            <article>
                <div class="type-card" style="--type-color: #<%= type.color %>;">
                    <a href="/types/<%= type.id %>">
                        <h3><%= type.name %></h3>
                    </a>
                </div>
            </article>
            <% } %>
        </div>
    </main>
    <%- include("partials/footer") %>
</body>
</html>